github "ashleymills/Reachability.swift"
github "thii/FontAwesome.swift"
github "saoudrizwan/Disk"
github "audiokit/AudioKit"
github "raulriera/TextFieldEffects"
github "JohnCrafton/SCLAlertView-Swift" "master"
github "hyperoslo/Cache"
github "bizz84/SwiftyStoreKit"